* {
  margin: 0;
}

body {
  height: 100vh;
  background: #e1ebdf;
}

.header {
  background: #2093d8;
  padding: 0.1rem;
  text-align: center;
  font-size: 2.2rem;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 70%;
  margin-left: 15%;
  gap: 2rem;
  transition: 0.3s ease-in-out;
}

.item {
  max-width: 100%;
  transition: 0.3s ease-in-out;
}

.fruit {
  width: 100%;
  aspect-ratio: 1/ 1;
  position: relative;
  border: 1px solid #111;
}

.img-text {
  opacity: 0;
}

/*Animation*/
.item:hover {
  scale: 1.2;
}
.auto-grid:hover .item:not(.item:hover) {
  opacity: 0.4;
}
.item:hover .img-text {
  opacity: 1;
}

@media (max-width: 400px) {
  .header {
    font-size: 1rem;
  }
}
