* {
  margin: 0;
}

body {
  height: 100vh;
  background: #e1ebdf;
}

.header {
  background: #2093d8;
  padding: 0.1rem;
  text-align: center;
  font-size: 2.2rem;
}

.auto-grid {
  display: grid;
  /*Försöker få plats med så många bilder som är större än 15 rem som möjligt. 
  Om den skärmen blir mindre gör den bilderna mindre och mindre tills det inte längre får plats och man måste minska antalet rader.*/
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 70%;
  margin-left: 15%;
  gap: 2rem;
  transition: 0.3s ease-in-out;
}

.item {
  max-width: 100%;
  transition: 0.3s ease-in-out;
}

.fruit {
  width: 100%;
  aspect-ratio: 1/ 1;
  position: relative;
  border: 1px solid #111;
}

.img-text {
  opacity: 0;
}

/*Animation*/
.item:hover {
  scale: 1.2;
}
.auto-grid:hover .item:not(.item:hover) {
  opacity: 0.4;
}
.item:hover .img-text {
  opacity: 1;
}

/*Footer styling*/
.footer-text {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: normal;
}
.footer {
  background: #20bbd8;
}
.nav-link {
  color: rgb(7, 78, 118);
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
@media (max-width: 400px) {
  .header {
    font-size: 1rem;
  }
}
