:root {
  --bg-clr-header: #2093d8;
  --bg-clr-menu: #20bbd8;
  --bg-clr-background: #8fc17f;
  --bg-clr-edges: #e1ebdf;
  --bg-clr-shadow: #6c8368;
  --fg-clr-link: rgb(7, 78, 118);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  scroll-padding-top: 4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--bg-clr-edges);
}

.main-content {
  background: var(--bg-clr-edges);
  flex-direction: column;
}

/*Styling of first paragraph*/
.me {
  background: var(--bg-clr-background);
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem var(--bg-clr-shadow);
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.metext {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.mepic {
  height: 30%;
  width: 30%;
  border-radius: 20%;
}

/*Main paragraphs*/
.earlier-projects {
  background: var(--bg-clr-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0.5rem 0.5rem 1rem var(--bg-clr-shadow);
  margin-bottom: 1.5rem;
}

.part {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  background: var(--bg-clr-background);
  margin-bottom: 3rem;
  margin-top: 3rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--bg-clr-shadow);
}

.project-part {
  display: grid;
  grid-template-columns: 65% auto;
  margin: 2rem;
  align-items: center;
}

.project-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*Menu*/
/*I used sticky to make the menu follow when you scroll.*/
.menu {
  padding: 0.1rem;
  background: var(--bg-clr-menu);
  position: sticky;
  top: 0;
  font-size: 1rem;
  font-weight: bold;
}

.links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  list-style: none;
  background: var(--bg-clr-menu);
  height: 100%;
  padding: 1rem;
}

.menu-btn {
  display: none;
}

.menu-header {
  display: none;
}

.links a:hover {
  text-decoration: underline;
}

.menu a {
  font-size: 1rem;
  color: #111;
}

/*Make the links to other pages turn red when hovering over.*/
.button:hover {
  background-color: red;
}

/*Header styling*/
.header {
  background-color: var(--bg-clr-header);
  padding: 0.5%;
  text-align: center;
}

.header-caption {
  font-size: clamp(1rem, 3rem + 1vw, 5rem);
  width: 80%;
  margin-left: 10%;
}

.second-header {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2%;
}

/*link styling*/
.projectlink,
.projecttext {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.description-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/*Text and picture styling*/
.text {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.projectpicture {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

/*Footer styling*/
.footer {
  background: var(--bg-clr-menu);
}

.footer-text {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: normal;
}

.nav-link {
  color: var(--fg-clr-link);
}

.nav-link:hover {
  text-decoration: underline;
}

/*Responsitivity*/
@media (max-width: 1280px) {
  /*Menu styling*/
  .menu {
    width: 15%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: fixed;
  }

  .links {
    flex-direction: column;
    display: none;
  }

  .menu-btn {
    display: none;
    justify-content: center;
  }

  .menu-header {
    display: flex;
    justify-content: center;
    user-select: none;
  }

  .menu-btn:checked ~ .links {
    display: flex;
  }

  /*Others*/
  .earlier-projects {
    width: 75%;
    margin-left: 20%;
  }

  .me {
    width: 75%;
    margin-left: 20%;
  }

  .header-caption {
    font-size: clamp(1rem, 3rem + 1vw, 5rem);
    width: 65%;
    margin-left: 25%;
  }
}
