:root {
  --bg-clr-header: #2093d8;
  --bg-clr-menu: #20bbd8;
  --bg-clr-background: #8fc17f;
  --bg-clr-edges: #e1ebdf;
  --bg-clr-shadow: #6c8368;
  --fg-clr-link: rgb(7, 78, 118);
  --projectimg-height-after: 100%;
  --projectimg-height-before: 4rem;
  --projectimg-width-after: 100%;
  --projectimg-width-before: 5rem;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  scroll-padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--bg-clr-edges);
}

/*Styling of first paragraph (Description of me)*/
.me {
  background: var(--bg-clr-background);
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 1rem var(--bg-clr-shadow);
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}
.metext {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}
.mepic {
  height: 30%;
  width: 30%;
  border-radius: 20%;
}

/*Main paragraphs (earlier projects)*/
.earlier-projects {
  background: var(--bg-clr-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0.5rem 0.5rem 1rem var(--bg-clr-shadow);
  margin-bottom: 1.5rem;
}
/*Gör att varje projektbeskrivning är i mitten och att de har en liten skugga så att de står ut.*/
.project-paragraph {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  background: var(--bg-clr-background);
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--bg-clr-shadow);
}
/*Gör projektbeskrivningar till en mindre höjd så att man kan se en liten bild, underrubriken samt första raden av beskrivningen.
Samt att den har en transition vid animationen.*/
.project-paragraph-content {
  display: grid;
  grid-template-columns: 70% auto;
  margin: 1.5rem;
  height: 4.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.project-description {
  display: flex;
  flex-direction: column;
}

/*Menu*/
.primary-nav {
  padding: 0.1rem;
  background: var(--bg-clr-menu);
  position: sticky;
  top: 0;
  font-size: 1rem;
  font-weight: bold;
  z-index: 3;
}
.links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
  background: var(--bg-clr-menu);
  height: 100%;
  padding: 1rem;
}
/*Gör att hamburgarmenyn inte syns på datorvyn:*/
.burger-menu {
  display: none;
  gap: 0.3rem;
  background-color: var(--bg-clr-menu);
  border: none;
}
.links a:hover {
  text-decoration: underline;
}
.primary-nav a {
  font-size: 1rem;
  color: #111;
}
/*Varje bar i hamburgarmenyn:*/
.burger-bar {
  height: 0.2rem;
  width: 1.5rem;
  background: #111;
  position: relative;
  border-radius: 20%;
}

/*Header styling*/
.header {
  background-color: var(--bg-clr-header);
  padding: 0.1rem;
  text-align: center;
}
.header-caption {
  font-size: clamp(1rem, 3rem + 1vw, 5rem);
  width: 80%;
  margin-left: 10%;
}
.second-header {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2%;
}

/*link styling*/
.project-link-header,
.me-header {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.project-link:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}

/*Text and picture styling*/
.text {
  font-size: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}
.project-picture {
  height: var(--projectimg-height-before);
  width: var(--projectimg-width-before);
  border-radius: 10%;
  transition: 0.2s ease-in-out;
}

/*Footer styling*/
.footer {
  background: var(--bg-clr-menu);
}
.footer-text {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: normal;
}
.footer-link {
  color: var(--fg-clr-link);
}
.footer-link:hover {
  text-decoration: underline;
}

/*Responsitivity*/
@media (min-width: 1280px) {
  /*Hover animations*/
  /*Gör att varje paragraph större så att man kan se hela texten.*/
  .project-paragraph-content:hover {
    height: 19rem;
  }
  .project-paragraph-content:hover .project-picture {
    height: var(--projectimg-height-after);
    width: var(--projectimg-width-after);
  }
  /*Gör att när man hovrar på dividern med alla tidigare project blir alla projekteskrivningar lite suddiga, 
  förutom den projektbeskrivningen som man hovrar på.*/
  .earlier-projects:hover
    .project-paragraph-content:not(.project-paragraph-content:hover) {
    opacity: 0.4;
  }
}
/*För större skärmar behöver inte projekt beskrivningarna inte vara så höga för att se hela texten.*/
@media (min-width: 1540px) {
  .project-paragraph-content:hover {
    height: 15rem;
  }
}
@media (min-width: 450px) and (max-width: 1280px) {
  /*Menu styling*/
  .primary-nav {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: sticky;
  }
  /*Koden som gör att listan med länkar är gömda by default.*/
  .links {
    display: none;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 99;
  }
  /*Koden som gör att listan syns när man klickar på hamburgarmenyn.*/
  .links.open {
    display: flex;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
  }
  /*Gör att hamburgarmenyn syns på tabletvy*/
  .burger-menu:hover {
    border: 0.1rem solid #111;
  }

  /*Text styling*/
  .header-caption {
    font-size: clamp(1rem, 3rem + 1vw, 5rem);
  }
  .header {
    padding: 0.03rem;
  }
  .text {
    font-size: 0.9rem;
  }
  .project-link {
    font-size: 1.1rem;
  }
  .second-header {
    font-size: 1.5rem;
  }

  /*Paragraph styling*/
  .project-paragraph-content {
    height: 100%;
    opacity: 1;
  }
  .project-picture {
    height: 7rem;
    width: var(--projectimg-width-after);
  }
  .project-description-img {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 450px) {
  /*menu styling*/
  .primary-nav {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: sticky;
  }
  /*Koden som gör att listan med länkar är gömda by default.*/
  .links {
    display: none;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 99;
  }
  /*Koden som gör att listan syns när man klickar på hamburgarmenyn.*/
  .links.open {
    display: flex;
  }
  /*Gör att hamburgarmenyn syns på telefonvy*/
  .burger-menu {
    display: flex;
    flex-direction: column;
  }
  .burger-menu:hover {
    border: 0.1rem solid #111;
  }

  /*text styling*/
  .header-caption {
    font-size: clamp(1rem, 3rem + 1vw, 5rem);
  }
  .header {
    padding: 0.03rem;
  }
  .text {
    font-size: 0.6rem;
  }
  .project-link {
    font-size: 1rem;
  }
  .second-header {
    font-size: 1.3rem;
  }

  /*Styling paragraphs*/
  .project-paragraph-content {
    height: 100%;
    opacity: 1;
  }
  .project-picture {
    height: 3rem;
    width: var(--projectimg-width-after);
  }
}
