:root {
  --bg-clr-header: rgb(75, 75, 75);
  --bg-clr-navbar: rgb(129, 129, 129);
  --bg-clr-background: rgb(250, 255, 237);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  scroll-padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: var(--bg-clr-background);
}

.main-header {
  padding: 0.2rem;
  background: var(--bg-clr-header);
  text-align: center;
}

.header-caption {
  font-size: clamp(1rem, 3rem + 1vw, 5rem);
}

.burger-menu {
  display: none;
  gap: 0.3rem;
  background-color: var(--bg-clr-navbar);
  border: none;
}
.burger-bar {
  height: 0.2rem;
  width: 1.5rem;
  background: #111;
  position: relative;
  border-radius: 20%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  background: var(--bg-clr-navbar);
  padding: 0.2rem;
}

.link {
  font-size: 1.5rem;
  color: #111;
}

.wey {
  width: 20%;
  margin-top: 20rem;
  margin-left: 40%;
}
.cool {
  font-size: 5rem;
}

/*Responsitivity:*/
@media (min-width: 450px) and (max-width: 1280px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
  }
  .nav-links {
    display: none;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 99;
  }
  .nav-links.open {
    display: flex;
  }
}

@media (max-width: 450px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
  }
  .nav-links {
    display: none;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 99;
  }
  .nav-links.open {
    display: flex;
  }
}
