*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: hotpink;
}
html {
  font-size: 1.7rem;
}

.flex {
  display: flex;
  border: 20px solid limegreen;
  justify-content: space-evenly;
  gap: 2rem;
  background: violet;
}
.box {
  flex-basis: 200px;
}
p::before {
  content: "Citat 2023, av Watermelvin:" open-quote;
  font-size: x-small;
}
p::after {
  content: close-quote;
  font-size: x-small;
}
.box:last-child {
  background: yellow;
  display: flex;
  flex-direction: column-reverse;
}
.box:first-child {
  background: burlywood;
}
.box:nth-child(3) {
  background: forestgreen;
}
.box:hover > *:not(img) {
  scale: 1.5;
}
